<!DOCTYPE html>
<html lang="en">
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta http-equiv="content-type" content="text/html; charset=utf-8" />    <meta name="author" content="INSPIRO" />    
	<meta name="description" content="Themeforest Template Polo, html template">
    <link rel="icon" type="image/png" href="images/favicon.png">   
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
<!-- Document title -->
<title>Askin About</title>
<!-- Stylesheets & Fonts -->
<link href="css/plugins.css" rel="stylesheet">
<link href="css/style.css" rel="stylesheet">
</head>

<body>
    <div class="body-inner">
<header id="header" class="header-modern header-mini   dark">
            <div class="header-inner" style="opacity: 90%;">
                <div class="container">
                    <!--Logo-->
                    <div id="logo" style="text-align: left;">
                        <a href="/">
                            <img src="img/askin-logo.png" class="logo-default" style="height: auto;
							width: 55px;
							margin-top: 1rem;">
                            <img src="img/askin-logo.png" class="logo-dark p-5" style="height: auto !important;
							margin: 8px;
							width: 55px !important;
							margin-top: 1rem !important;">
                        </a>
                    </div>



                    <!--Navigation Resposnive Trigger-->
                    <div id="mainMenu-trigger">
                        <a class="lines-button x"><span class="lines"></span></a>
                    </div>


                    <div id="mainMenu">
                        <div class="container">
                            <nav>
                                <ul>
                                    <li><a href="/">Home</a></li>

                                    <li><a href="/#design">Design</a>
                                    </li>

                                    <li><a href="/media">Media</a>

                                    </li>

                                    <li><a href="https://askinarchitects.blogspot.com/" target="_blank"> Blog</a>

                                    </li>
                                    <li><a href="/about">About</a>

                                    </li>
                                    <li><a href="/contact">Contact</a>

                                    </li>
                                    <li>
                                        <a href="/user">
                                            <button type="button"
                                                class="btn btn-xs btn-icon-holder btn-shadow btn-light btn-outline btn-rounded">Login<i
                                                    class="fa fa-user"></i></button>
                                        </a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                    <!--end: Navigation-->
                </div>
            </div>
        </header>
        <div id="slider" class="inspiro-slider dots-creative" data-height-xs="360">
            <!-- Slide 2 -->
            <div class="slide kenburns" style="background-image:url('img/banner-about.jpg');">
                <div class="bg-overlay"></div>
                <div class="container">
                    <div class="slide-captions text-center text-light">
                        <!-- Captions -->
                        <span class="strong">Who we are</span>
                        <h1 style="">About Askin.</h1>
                        <!-- end: Captions -->
                    </div>
                </div>
            </div>
            <!-- end: Slide 2 -->

        </div>
        <!--end: Inspiro Slider -->

        <section>
            <div class="container">
                <div class="row">
                    <div class="col-lg-4">
                        <div class="heading-text heading-section mr-2 pr-2">
                            <h2>ASKIN ARCHITECTS</h2>

                        </div>
                    </div>
                    <div class="col-lg-8">
                        <div class="row">

                            <div class="col-lg-6">Askin Architects is a group of dedicated Architects, Engineers and  Interior Designers who have joined hands to turn your Dream Home into reality. Since its inception in June 2002, Askin Architects has designed hundreds of residences of various sizes; and proven itself to be a leading Home Designing Company and our homes have been featured in leading design magazines.
                            </div>
<div class="col-lg-6">
             Askin's unique Home Design Methodology helps you take the first step towards getting your customized Home Plan. From the moment you register, through our design discussions, and until you get your Architectural Design Drawings in hand, Askin Architects will be your advisor on all matters concerning your Home Design.

</div>
                        </div>
                    </div>

                </div>
            </div>
        </section>


<section class="box-fancy section-fullwidth text-light">
            <div class="row">
                <div style="background-color:#343a40" class="col-lg-4">
                    <h1 class="text-lg text-uppercase">01.</h1>
                    <h3>SUBMIT DESIGN REQUIREMENTS.</h3>
                    <span>To get your very own customized home plans designed by our qualified architects, please click on your district on the <a href="/#design"> Kerala map </a> and  fill up the online form. This will send us your Site details and design requirements.</span>
                </div>

                <div style="background-color:#495057" class="col-lg-4">
                    <h1 class="text-lg text-uppercase">02.</h1>
                    <h3>GET YOUR ELEGANT DESIGN.</h3>
                    <span>Our Architects will analyze the submitted details and design your home giving due consideration to the orientation and environmental factors and with continuous online discussions with you.</span>
                </div>

                <div style="background-color:#6c757d" class="col-lg-4">
                    <h1 class="text-lg text-uppercase">03.</h1>
                    <h3>CONSTRUCT YOUR DREAM HOME.</h3>
                    <span>With Askin Architects' online design services, you get high quality architectural service at a very affordable cost. Make your dream house a reality with our expert guidance and regular supervision.</span>
                </div>
            </div>
        </section>


        

        <!-- Footer -->
        <footer id="footer" class="inverted">
				<div class="footer-content" style="padding-bottom: 10px;">
					<div class="container">
						<div class="row">

							<div class="col-lg-4">
								<div class="widget">

									<div>
										<img src="img/askin-logo.png" class="logo-default" 
							
							style="height: auto;
							width: 55px;
							margin-bottom: 10px;"> 
									</div>

									<div class="widget-title" style="margin-bottom: 10px; font-size: 18px;">Askin Architects</div>

									<p class="mb-5" style="font-weight:;">Crafting Connections &bull; Built With Trust. <br>

									&copy;             <script>
              document.write(new Date().getFullYear())
            </script>
             Askin Architects. All Rights Reserved.</p>
							<a class="btn btn-light btn-outline btn-rounded" href="/#design">DESIGN MY HOME</a>
							<a class="btn btn-light btn-outline btn-rounded" href="/user">LOGIN</a>								</div>
							</div>
							
							<div class="col-lg-8">
								<div class="row">
			

									<div class="col-md-7">
										<div class="icon-box effect small clean">
											<div class="icon">
												<a href="te:12345678987"><i class="icon-phone" style="color: white;"></i></a>
											</div>
											<h3 style="margin-bottom: 20px;">Contact Us</h3>
											<p><strong>Phone :</strong>
												<br> 
                                    <a target="_blank" href="https://wa.me/+918089315301"><i class="fab fa-whatsapp"></i> &nbsp; +91 80893 15301 </a> 
												<br>
												<br>

												<strong>Mail :</strong>
												<br>
													<a href="mailto:askinarchitects@gmail.com"> <i class="icon-mail"></i> &nbsp; askinarchitects@gmail.com </a>
													
												</p>

											<h3>Follow Us</h3>

											<h3><div class="social-icons social-icons-border social-icons-rounded ">
												<p>

                                <ul>
                                    <li class="social-facebook text-center"><a target="_blank" href="http://facebook.com/askinarchitects"><i
                                                class="fab fa-facebook-f"></i></a></li>
                                    <li class="social-twitter text-center"><a target="_blank" href="https://twitter.com/askinarchitects"><i
                                                class="fab fa-twitter"></i></a></li>
                                    <li class="social-instagram text-center"><a target="_blank" href="https://www.instagram.com/askinarchitects"><i
                                                class="fab fa-instagram"></i></a></li>
                                    <li class="social-instagram text-center"><a target="_blank" href="https://www.pinterest.com/askinarchitects"><i
                                                class="fab fa-pinterest"></i></a></li>
                                    <li class="social-instagram text-center"><a href="https://www.youtube.com/channel/UCvMicYAtTV0hN_0eSYN4NJg" target="_blank"><i
                                                class="fab fa-youtube"></i></a></li>

                                </ul>
										</p>
										</div>
									</h3>


										</div>
									</div>


								


									<div class="col-lg-5">
									<form class="widget-contact-form" id="submit-form" action="" role="form" method="">
										<div class="input-group mb-2">
											<div class="input-group-prepend">
												<span class="input-group-text" id="basic-addon1"><i class="fa fa-user"></i></span>
											</div>
											<input type="text" aria-required="true" name="name" class="form-control required name" placeholder="Enter your Name" required>
										</div>
										<div class="input-group mb-2">
											<div class="input-group-prepend">
												<span class="input-group-text" id="basic-addon1"><i class="fa fa-envelope"></i></span>
											</div>
											<input type="email" aria-required="true" required name="email" class="form-control required email" placeholder="Enter your Email" required>
										</div>
										<div class="form-group mb-2">
											<textarea type="text" name="Message" rows="5" class="form-control" placeholder="Enter your Message" required></textarea>
										</div>
										<div class="form-group">
											<button class="btn btn-light btn-outline" type="submit" id="form-submit"><i class="fa fa-paper-plane"></i>&nbsp;Send message</button>
										</div>
									</form>
		
								</div>

									
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="copyright-content">
					<div class="container">
						<div class="copyright-text text-center" style="font-size: 12px;">&copy;             <script>
              document.write(new Date().getFullYear())
            </script> Askin Architects. All Rights Reserved.</div>
					</div>
				</div>
			</footer>
        <!-- end: Footer -->
    </div> <!-- end: Body Inner -->
    <!-- Scroll top -->
    <a id="scrollTop"><i class="icon-chevron-up"></i><i class="icon-chevron-up"></i></a>
    <!--Plugins-->
    <script src="js/jquery.js"></script>
    <script src="js/plugins.js"></script>
    <!--Template functions-->
    <script src="js/functions.js"></script>
</body>
<script type="text/javascript">
var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
(function(){
var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
s1.async=true;
s1.src='https://embed.tawk.to/6011688ea9a34e36b970eeae/1et200rll';
s1.charset='UTF-8';
s1.setAttribute('crossorigin','*');
s0.parentNode.insertBefore(s1,s0);
})();
</script>
<script>
        $("#submit-form").submit((e)=>{
            e.preventDefault()
            $.ajax({
                url:"https://script.google.com/macros/s/AKfycbzkhZsAPN2JjJM-XL-9bqLgyQkUTOfEa9cgHppXSQIPuFJmPzS7uP4n/exec",
                data:$("#submit-form").serialize(),
                method:"post",
                success:function (response){
                    alert("Thank you! We'll get back to you soon.")
                    window.location.reload()
                    //window.location.href="https://google.com"
                },
                error:function (err){
                    alert("Something Error")
    
                }
            })
        })
    </script>
</html>