<!DOCTYPE html>
<html lang="en" style="scroll-behavior: smooth;">

<head>
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />    <meta name="author" content="" />    
	<meta name="description" content="">
    <link rel="icon" type="image/png" href="img/askin-logo.png">   
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	<!-- Document title -->
	<title>Askin Architects | Crafting Connections Built With Trust.</title>
	<!-- Stylesheets & Fonts -->
	<link href="css/plugins.css" rel="stylesheet">
	<link href="css/style.css" rel="stylesheet">
	<!-- LOAD JQUERY LIBRARY -->
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.js"></script>
	<!-- LOADING FONTS AND ICONS -->
	<link href="//fonts.googleapis.com/css?family=Rubik:500%2C400%2C700" rel="stylesheet" property="stylesheet" type="text/css" media="all">
	<link rel="stylesheet" type="text/css" href="plugins/slider-revolution/fonts/pe-icon-7-stroke/css/pe-icon-7-stroke.css">
	<link rel="stylesheet" type="text/css" href="plugins/slider-revolution/fonts/font-awesome/css/font-awesome.css">
	<!-- REVOLUTION STYLE SHEETS -->
	<link rel="stylesheet" type="text/css" href="plugins/slider-revolution/css/settings.css">
	<script src="https://kit.fontawesome.com/6acfe87834.js" crossorigin="anonymous"></script>
	<style type="text/css">
		.tiny_bullet_slider .tp-bullet:before {
			content: " ";
			position: absolute;
			width: 100%;
			height: 25px;
			top: -12px;
			left: 0px;
			background: transparent
		}
	</style>
	<style type="text/css">
		.bullet-bar.tp-bullets {}

		.bullet-bar.tp-bullets:before {
			content: " ";
			position: absolute;
			width: 100%;
			height: 100%;
			background: transparent;
			padding: 10px;
			margin-left: -10px;
			margin-top: -10px;
			box-sizing: content-box
		}

		.bullet-bar .tp-bullet {
			width: 60px;
			height: 3px;
			position: absolute;
			background: #aaa;
			background: rgba(204, 204, 204, 0.5);
			cursor: pointer;
			box-sizing: content-box
		}

		.bullet-bar .tp-bullet:hover,
		.bullet-bar .tp-bullet.selected {
			background: rgba(204, 204, 204, 1)
		}

		.bullet-bar .tp-bullet-image {}

		.bullet-bar .tp-bullet-title {}
	</style>
	<!-- REVOLUTION JS FILES -->
	<script type="text/javascript" src="plugins/slider-revolution/js/jquery.themepunch.tools.min.js"></script>
	<script type="text/javascript" src="plugins/slider-revolution/js/jquery.themepunch.revolution.min.js"></script>
	<!-- SLICEY ADD-ON FILES -->
	<script type='text/javascript' src='plugins/slider-revolution/revolution-addons/slicey/js/revolution.addon.slicey.min.js?ver=1.0.0'></script>
	<!-- SLIDER REVOLUTION 5.0 EXTENSIONS  (Load Extensions only on Local File Systems !  The following part can be removed on Server for On Demand Loading) -->
	<script type="text/javascript" src="plugins/slider-revolution/js/extensions/revolution.extension.actions.min.js"></script>
	<script type="text/javascript" src="plugins/slider-revolution/js/extensions/revolution.extension.carousel.min.js"></script>
	<script type="text/javascript" src="plugins/slider-revolution/js/extensions/revolution.extension.kenburn.min.js"></script>
	<script type="text/javascript" src="plugins/slider-revolution/js/extensions/revolution.extension.layeranimation.min.js"></script>
	<script type="text/javascript" src="plugins/slider-revolution/js/extensions/revolution.extension.migration.min.js"></script>
	<script type="text/javascript" src="plugins/slider-revolution/js/extensions/revolution.extension.navigation.min.js"></script>
	<script type="text/javascript" src="plugins/slider-revolution/js/extensions/revolution.extension.parallax.min.js"></script>
	<script type="text/javascript" src="plugins/slider-revolution/js/extensions/revolution.extension.slideanims.min.js"></script>
	<script type="text/javascript" src="plugins/slider-revolution/js/extensions/revolution.extension.video.min.js"></script>
</head>

<body>
	<!-- Body Inner -->
	<div class="body-inner">
		<!-- Header -->
        
        
        <header id="header" class="header-modern  dark">
            <div class="header-inner" style="opacity: 90%;">
                <div class="container">
                    <!--Logo-->
                    <div id="logo" style="text-align: left;">
                        <a href="/">
							<img src="img/askin-logo.png" class="logo-default" 
							
							style="height: auto;
							width: 55px;
							margin-top: 1rem;"> 
							<img src="img/askin-logo.png" class="logo-dark p-5" 
							
							style="height: auto !important;
							margin: 8px;
							width: 55px !important;
							margin-top: 1rem !important;">
                        </a>
					</div>
					
        
 
                    <!--Navigation Resposnive Trigger-->
                    <div id="mainMenu-trigger">
                        <a class="lines-button x"><span class="lines"></span></a>
                    </div>
         
                    
                    <div id="mainMenu">
                        <div class="container">
                            <nav>
                                <ul>
                                    <li><a href="/">Home</a></li>
                                    <li><a href="/#design">Design</a>
                                      
                                    </li>

                                    <li class="dropdown mega-menu-item"><a href="http://keralaarchitect.blogspot.com" target="_blank"> Blog</a>
                                        
									</li>
									<li class="dropdown mega-menu-item"><a href="about">About</a>
                                        
                                    </li>
                                    <li class="dropdown"><a href="contact">Contact</a>
                                        
                                    </li>
									<li>
							<button type="button" class="btn btn-xs btn-icon-holder btn-shadow btn-light btn-outline btn-rounded">Login<i class="fa fa-user"></i></button>
				
							</li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                    <!--end: Navigation-->
                </div>
            </div>
        </header>


		<section id="slider" class="fullscreen">
            <div class="bg-overlay"></div>
            <div class="youtube-background" data-youtube-url="https://youtu.be/CRxAVhJW2hI" data-youtube-autoplay="true"></div>
            <div class="container-fluid">
                <div class="container-fullscreen">
                    <div class="text-middle text-center text-light">
                        <h1 class="text-lg">Askin.</h1>
                        <p class="lead text-dark" style="font-weight: 400;">Crafting Connections &bull; Built With Trust</p>
							<a class="btn btn-light btn-outline btn-rounded" href="/#design">DESIGN MY HOME</a>
                    </div>
                </div>
            </div>
        </section>



		
					

			<div class="col-md-12 my-5" style="padding: 0%;">
				<section id="design" style="padding: 0%;">
				<iframe id="idIframe" onload="this.height=this.contentWindow.document.body.scrollHeight;" src="map.html" class="responsive-iframe" name="iframe_a" height=700px width="60%"></iframe>
				</section>
			</div>




			<section id="guide">
				<div class="container">
					<div class="row">
	
						<div class="content col-lg-6">
	
							<h4>House Construction Guide</h4>
							<div class="toggle accordion accordion-shadow">
								<div class="ac-item">
									<h5 class="ac-title"><i class="fas fa-home"></i>Building your house in Kerala- An overview</h5>
									<div class="ac-content">
										<p>Are you planning to construct a house in Kerala? Have you found a suitable piece of land and need more information on how to go about building your house… or, Are you halfway through your project, and hoping to check out the latest products for your new home?</p>
										<p>Through this Online House Construction Guide, KeralaArchitect.com gives you an overview of what to expect at various stages of home construction to prioritize your time and effort more effectively.</p>
									</div>
								</div>
								
	
								<div class="ac-item">
									<h5 class="ac-title"><i class="fas fa-hand-holding-usd"></i> Financial Advice and Home Loans</h5>
									<div class="ac-content">
										<p>The idea of building your own home can be an overwhelming one, but the processes involved in getting started are similar to buying a house on the normal property market.									</p>
										<p>First, you need to establish your financial situation and how much of your own - and a lender's! - money you will be able to spend. You will need to pay for the building plot and also the costs of the building project, and the two should come to at least 10% less than the final value of the finished property.</p>
										<p>Chances are that most of the money will be coming from a bank or a home-loan finance institution so a good start would be to visit a few of the various home-loan agencies and Banks, particularly those that finance property in your region.</p>
										<p>You will be required to furnish details of your income, and the estimated cost of construction. Each financial institution has its own set of rules and documents to be submitted to be eligible for a home loan.</p>
	
									</div>
								</div>
								
	
								<div class="ac-item">
									<h5 class="ac-title"><i class="fas fa-map-marker-alt"></i> Finding and Purchasing a Plot
										</h5>
									<div class="ac-content">
										<p>Once you have established the level of funding, you need to overcome the biggest hurdle facing most home-builders - finding a building plot.</p>
										
										<p>You should only consider purchasing land that has been earmarked for residential development or with the appropriate zonal exemption.</p>
										<p>Details about Zoning and Zonal Exemption can be obtained from your Local Administrative Office.</p>
										<p>You can search for plots in the same way that you would look for a house. It is quicker and easier to use the services of Real Estate Agents, if you are willing to pay their Fee or Commissions.</p>
	
									
									</div>
								</div>
	
								<div class="ac-item">
									<h5 class="ac-title"><i class="fas fa-drafting-compass"></i> 		
			  
			
										Deciding on What to Build
										</h5>
									<div class="ac-content">
										<p>Once you have found an appropriate site, you will need to consider what type of house you wish to build. Talk to the Engineering Division of your Local Governing Body about site restrictions, look at neighbouring properties, use Home and Interior Design magazines for inspiration; because getting inspiration is important to maintain the enthusiasm of construction.									</p>
										
										<p>Ultimately, you will need to employ an architect or home designer to come up with a workable design - that is also tailored to your budget.</p>
										<p>An alternative to an individual designer is the package supplier who offers project management services all the way upto offering a full 'turnkey' service - i.e. you sign off the whole project to the company that designs and executes the project. All you have to do is to turn up to move in after the construction period.									</p>
										<p>This service, although is more expensive, will relieve you of the nitty-gritty of construction. But, be sure to verify that the Company is reputed and will be using quality materials for construction. This can be assured by mentioning the specifications of materials including sizes and brand names, in the contract document.</p>
	
									
									</div>
								</div>
								
	
								<div class="ac-item">
									<h5 class="ac-title"><i class="fas fa-hammer"></i> Employing a Local Builder
										</h5>
									<div class="ac-content">
										<p> If you are employing a local builder or even doing the construction yourself - your next step would be to set up an account with the building material suppliers in your area. This will enable you to get 'trade' rates and ensure a steady flow of materials to your site. Make a list of materials, equipments and labour that you may need and contact the local suppliers and agencies for the best bargain. </p>	
										<p> Hiring the Right Contractor is one of the most important things at the start of your House Construction. However good your design and technical consultants are, if the contractor turns out to be incompetent, it will lead you to great frustration and financial loss. </p>
										<p> On the other hand, even if you don't have proper drawings or schedule made, a good contractor can build your home without a glitch. The only way to find the best suited contractor for your residence is reference. Find at least 3 home-owners who had previously employed the contractor's services, sit down with them for a talk and inspect the finished houses. If the contractor cannot give you good references, or if he says that the reference is not available, travelling abroad, or seriously ill, it could be risky to take your chances with him. </p>
	
									
									</div>
								</div>
	
	
								<div class="ac-item">
									<h5 class="ac-title"><i class="fas fa-file-contract"></i> Building Permit from the Authorities
										</h5>
									<div class="ac-content">
										<p> Now is the time to fine-tune the design of your home according to building regulations and submit plans for detailed approval to the Local Administrative Body. </p>	
										<p> If there are no objections to your scheme, this process should take anywhere between 1 day or a couple of weeks. Please check the official procedure beforehand, to avoid last-minute inconveniences. </p>
										<p> If you have already appointed an architect or a building contractor, he/she will be able to instruct you on how to go about with getting the Building Permit Approved. </p>
										<p> You can also find National and Regional Building Code Books in leading Bookstores in your locality. </p>
									</div>
								</div>
	
	
	
	
								<div class="ac-item">
									<h5 class="ac-title"><i class="fas fa-cubes"></i> Foundations
										</h5>
									<div class="ac-content">
										<p> Once you have assessed the site for the quality of ground conditions, you will need to think about the type of foundations you are going to have. The traditional method is the trench fill system. It is well worth consulting a structural engineer who will advise on site-specific solutions. </p>	
										<p> If you are engaging a local builder then chances are that you will be building in a traditional form of construction, with blockwork. </p>
										<p> There is range of different options available- offering larger formats and faster build times as well as more unconventional systems like stabilized building blocks or aerocon blocks. </p>
										<p> Take a look at the local area to decide which is most acceptable and then talk to a range of suppliers to see what's available and at what cost.
										</p>
	
									
									</div>
								</div>
	
	
	
								<div class="ac-item">
									<h5 class="ac-title"><i class="fas fa-door-closed"></i> Windows/Doors/Roofing
										</h5>
									<div class="ac-content">
										<p> One of the keys to a successful design is your choice of windows and doors. If done well, they can perfectly complement the elevation of a home. But, if done badly, they can spoil even the most well thought out of designs. </p>	
										<p> Choices vary from traditional designs and contemporary styles, using wood and glass, steel, powder-coated Aluminium, PVC or pre-cast concrete - or a combination of them. </p>
										<p> To complete your thoughts on the exterior of your house you will also need to consider the roof. Roofing plays an important role in the visual elevation of your home. Choices for roofing range from plain concrete, weather-coated or ceramic-coated tiles, shingles to Galvanized Iron or Aluminium Corrugated roofing. </p>
										<p> Get samples and look at a range of materials to get an idea about what might best suit your project. In addition, details such as the guttering and down pipes will play a larger role than you might expect in deciding the success of the overall appearance of your home. </p>
	
									
									</div>
								</div>
	
	
	
								<div class="ac-item">
									<h5 class="ac-title"><i class="fas fa-couch"></i>Interiors/Home Fittings
	
										</h5>
									<div class="ac-content">
										<p> It's now time to begin thinking about internal fittings for your home, not just about how it should look, but about your family needs and the function of your home. Before getting to the plastering stage, think about the electrical layout and structural cabling. </p>	
										<p> An automated home is becoming more and more popular. An automated home enables you to have your home controlled from a central server. </p>
										<p> For example, you could have a multi-room audio system supplying music to every room, control mood lighting systems at the touch of one button, centrally lock the home as you would a car, or even control your home remotely via the internet. The possibilities are endless, and you can tailor a system to meet your needs and budget. </p>
	
									
									</div>
								</div>
	
	
								<div class="ac-item">
									<h5 class="ac-title"><i class="fas fa-bath"></i> Bathrooms/Kitchens
										</h5>
									<div class="ac-content">
										<p> Ensure that you get the right number of bathrooms to bedrooms ratio. There is a wide range of luxury bathroom equipment available to meet all budgets. </p>	
										<p> Ensure that you have room for an individual shower enclosure and bath - or if you don't have the space, why not consider a wet room, a fully sealed bathroom with the drain in the centre of the room. </p>
										<p> Kitchens- On the same theme, a large kitchen is a must for most new homeowners, and increasingly, people are looking at the concept of a kitchen dining space, perhaps with a breakfast table, along with a conventional formal dining room. </p>
										<p> Modular Kitchens can vary widely in cost depending on the materials and the fixtures used. Do consider several suppliers before making your choice. </p>
	
									
									</div>
								</div>
	
	
	
								<div class="ac-item">
									<h5 class="ac-title"><i class="fab fa-microsoft"></i>Flooring and Tiling
										</h5>
									<div class="ac-content">
										<p> A key decision to make about the interior of your home is the flooring. The past few years have seen a rise in the number of people specifying vitrified tiles. </p>	
										<p> It is stylish, durable and has a wide range of styles to complement your home design. Other commonly used floor-tiling materials are ceramic tiles, terrazo, vinyl, rubber flooring, marble or granite tiles & slabs, terracotta tiles, and wooden parquet flooring. </p>
	
								
									</div>
								</div>
	
								<div class="ac-item">
									<h5 class="ac-title"><i class="far fa-lightbulb"></i>Lighting
										</h5>
									<div class="ac-content">
										<p> One often-overlooked aspect of the internal specification is lighting. A well thought-out lighting plan can be the perfect finishing touch for any interior, including wall lighting, ceiling lighting, accent lighting and down lighters. </p>	
									</div>
								</div>
							</div>
						</div>



						<div class="col-lg-6">

							<div class="row">

								<div class="col-lg-6 mb-3">
			
									<div class="text-center">
										<div class="icon"><i class="fas fa-calendar-alt" style="font-size: 3em;"></i></div>
										<div class="counter"> <span data-speed="4500" data-refresh-interval="24" data-to="19" data-from="0" data-seperator="true"></span> </div>
										<p>YEARS OF EXPERIENCE</p>
										<div class=" seperator-small"></div>
									</div>
								</div>


								<div class="col-lg-6 mb-3">
			
									<div class="text-center">
										<div class="icon"><i class="fas fa-desktop" style="font-size: 3em;"></i></div>
										<div class="counter"> <span data-speed="6000" data-refresh-interval="24" data-to="6205" data-from="4000" data-seperator="true"></span> </div>
										<p>DAYS SINCE ONLINE</p>
										<div class=" seperator-small"></div>
									</div>
								</div>
			

			
								<div class="col-lg-6 mb-3">
			
									<div class="text-center">
										<div class="icon"><i class="fa fa-3x fa-rocket"></i></div>
										<div class="counter"> <span data-speed="3000" data-refresh-interval="24" data-to="294" data-from="50" data-seperator="true"></span> </div>
										<p>FINISHED PROJECTS</p>
										<div class=" seperator-small"></div>
									</div>
								</div>
			
								<div class="col-lg-6 mb-3">
			
									<div class="text-center">
										<div class="icon"><i class="fa fa-3x fa-smile-o"></i></div>
										<div class="counter"> <span data-speed="4550" data-refresh-interval="24" data-to="1320" data-from="0" data-seperator="true"></span> </div>
										<p>SATISFIED CLIENTS</p>
										<div class=" seperator-small"></div>
									</div>
								</div>

								</div>
							</div>



					</div>
					</div>
				</section>


										
		
					
					


			<footer id="footer" class="inverted">
				<div class="footer-content" style="padding-bottom: 10px;">
					<div class="container">
						<div class="row">

							<div class="col-lg-4">
								<div class="widget">

									<div>
										<img src="img/askin-logo.png" class="logo-default" 
							
							style="height: auto;
							width: 55px;
							margin-bottom: 10px;"> 
									</div>

									<div class="widget-title" style="margin-bottom: 10px; font-size: 18px;">Askin Architects</div>

									<p class="mb-5" style="font-weight:;">Crafting Connections &bull; Built With Trust. <br>

									&copy; 2021 Askin Architects. All Rights Reserved.</p>
									<a href="/#design" class="btn btn-light btn-outline btn-rounded" >DESIGN MY HOME</a>
								</div>
							</div>
							
							<div class="col-lg-8">
								<div class="row">
			

									<div class="col-md-7">
										<div class="icon-box effect small clean">
											<div class="icon">
												<a href="te:12345678987"><i class="icon-phone" style="color: white;"></i></a>
											</div>
											<h3 style="margin-bottom: 20px;">Contact Us</h3>
											<p><strong>Phone :</strong>
												<br> (123) 456-7890
												<br> (987) 654-3210
												<br>
												<br>

												<strong>Mail :</strong>
												<br>
													<a href="mailto:mail@askinarchitects.com"> mail@askinarchitects.com </a>
													
												</p>

											<h3>Follow Us</h3>

											<h3><div class="social-icons social-icons-border social-icons-rounded ">
												<p>
										
										<ul>
											<li class="social-facebook text-center"><a href="#"><i class="fab fa-facebook-f"></i></a></li>
											<li class="social-twitter text-center"><a href="#"><i class="fab fa-twitter"></i></a></li>
											<li class="social-instagram text-center"><a href="#"><i class="fab fa-instagram"></i></a></li>
										</ul>
										</p>
										</div>
									</h3>


										</div>
									</div>


								


									<div class="col-lg-5">
									<form class="widget-contact-form" novalidate action="include/contact-form.php" role="form" method="post">
										<div class="input-group mb-2">
											<div class="input-group-prepend">
												<span class="input-group-text" id="basic-addon1"><i class="fa fa-user"></i></span>
											</div>
											<input type="text" aria-required="true" name="widget-contact-form-name" class="form-control required name" placeholder="Enter your Name">
										</div>
										<div class="input-group mb-2">
											<div class="input-group-prepend">
												<span class="input-group-text" id="basic-addon1"><i class="fa fa-envelope"></i></span>
											</div>
											<input type="email" aria-required="true" required name="widget-contact-form-email" class="form-control required email" placeholder="Enter your Email">
										</div>
										<div class="form-group mb-2">
											<textarea type="text" name="widget-contact-form-message" rows="5" class="form-control" placeholder="Enter your Message"></textarea>
										</div>
										<div class="form-group">
											<button class="btn btn-light btn-outline" type="submit" id="form-submit"><i class="fa fa-paper-plane"></i>&nbsp;Send message</button>
										</div>
									</form>
		
								</div>

									
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="copyright-content">
					<div class="container">
						<div class="copyright-text text-center">&copy; 2021 Askin Architects. All Rights Reserved.</div>
					</div>
				</div>
			</footer>

			
		<!-- end: Footer -->
	</div>
	<!-- end: Body Inner -->
	<script type="text/javascript">
		var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
		(function(){
		var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
		s1.async=true;
		s1.src='https://embed.tawk.to/60003590c31c9117cb6e8fae/1es0d2g79';
		s1.charset='UTF-8';
		s1.setAttribute('crossorigin','*');
		s0.parentNode.insertBefore(s1,s0);
		})();
		</script>
	<!-- Scroll top -->
	<a id="scrollTop"><i class="icon-chevron-up"></i><i class="icon-chevron-up"></i></a>

	<script src="js/jquery.js"></script>

	<script src="js/plugins.js"></script>
	<!--Template functions-->
	<script src="js/functions.js"></script>
	<script src="plugins/youtube-player/jquery.mb.YTPlayer.min.js"></script>




</body>
<script type="text/javascript">
	function iframeLoaded() {
		var iFrameID = document.getElementById('idIframe');
		if(iFrameID) {
			  // here you can make the height, I delete it first, then I make it again
			  iFrameID.height = "";
			  iFrameID.height = iFrameID.contentWindow.document.body.scrollHeight + "px";
		}   
	}
  </script> 

</html>