<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />    <meta name="author" content="INSPIRO" />    
	<meta name="description" content="Themeforest Template Polo, html template">
    <link rel="icon" type="image/png" href="images/favicon.png">   
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Document title -->
    <title>POLO | The Multi-Purpose HTML5 Template</title>
    <!-- Stylesheets & Fonts -->
    <link href="../css/plugins.css" rel="stylesheet">
    <link href="../css/style.css" rel="stylesheet">
</head>

<body>
    <!-- Body Inner -->
    <header id="header" class="header-modern    dark">
            <div class="header-inner" style="opacity: 90%;">
                <div class="container">
                    <!--Logo-->
                    <div id="logo" style="text-align: left;">
                        <a href="/">
                            <img src="../img/askin-logo.png" class="logo-default" style="height: auto;
							width: 55px;
							margin-top: 1rem;">
                            <img src="../img/askin-logo.png" class="logo-dark p-5" style="height: auto !important;
							margin: 8px;
							width: 55px !important;
							margin-top: 1rem !important;">
                        </a>
                    </div>



                    <!--Navigation Resposnive Trigger-->
                    <div id="mainMenu-trigger">
                        <a class="lines-button x"><span class="lines"></span></a>
                    </div>


                    <div id="mainMenu">
                        <div class="container">
                            <nav>
                                <ul>
                                    <li><a href="/">Home</a></li>

                                    <li><a href="/#design">Design</a>
                                    </li>

                                    <li><a href="/media">Media</a>

                                    </li>

                                    <li><a href="https://askinarchitects.blogspot.com/" target="_blank"> Blog</a>

                                    </li>
                                    <li><a href="/about">About</a>

                                    </li>
                                    <li><a href="/contact">Contact</a>

                                    </li>
                                    <li>
                                        <a href="/user">
                                            <button type="button"
                                                class="btn btn-xs btn-icon-holder btn-shadow btn-light btn-outline btn-rounded">Login<i
                                                    class="fa fa-user"></i></button>
                                        </a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                    <!--end: Navigation-->
                </div>
            </div>
        </header>
    <div class="body-inner">
   
               <section id="page-title" class="dark" style="background: url(../img/pattern10.png)">
            <div class="container">

                <div class="page-title">
                    <div class="heading-text text-center">
                    <h2 data-animate="fadeInUp" data-animate-delay="3000" class="animated fadeInUp visible" style="opacity: 1; animation-duration: 1000ms; color: black;">Thank You {{user.name}}!</h1>
                    <div class="line" style="margin-top: 25px; margin-bottom: 25px;"></div>
                    <span class="" style="opacity: 1; animation-duration: 1500ms; color: rgb(26, 26, 26); font-size: 1.14rem;" data-animate="fadeInUp" data-animate-delay="1000" class="lead animated fadeInUp visible">We have received your site details, design requirements
                        for your proposed residence & your account has been registered successfully. 
                        <br>
                        <br>
                         <a class="btn btn-square btn-dark btn-outline" href="/user" >Login to Dashboard</a></span>                    </div>
                </div>
            </div>
        </section>

    </div> 
    
    <!--Plugins-->
    {{!-- <script src="js/jquery.js"></script>
    <script src="js/plugins.js"></script>
    <!--Template functions-->
    <script src="js/functions.js"></script> --}}
</body>
<script type="text/javascript">
var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
(function(){
var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
s1.async=true;
s1.src='https://embed.tawk.to/6011688ea9a34e36b970eeae/1et200rll';
s1.charset='UTF-8';
s1.setAttribute('crossorigin','*');
s0.parentNode.insertBefore(s1,s0);
})();
</script>
</html>